@font-face {
    font-family: 'Sf pro';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,body,#root, .home-page, .home-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Sf pro', Arial, Helvetica, sans-serif;
}

/* .home-page{
    background-color: #ced8eca1;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
} */

.home-content {
    overflow: scroll;
    background-color: #ced8eca1;
    border-bottom: 1px solid #000000;
}

.welcome-section {
    /* background-color: #ced8eca1; */
    padding: 50px 20px;
    text-align: center;
    border-top: 1px solid #000000;
}

.welcome-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.welcome-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #666;
}

.files-section {
    padding: 40px 20px;
    /* background-color: #ced8eca1; */
    /* border-top: 1px solid #000000; */
}

.files-header {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    border-top: 1px solid #000000;
    /* border-bottom: 1px solid #000000; */
}

.files-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.files-header > a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1em;
}

.folders-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: #fcffe4 0px 3px 8px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1em;
}

.files-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #000000;
}

.file-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    /* max-height: 300px; */
    height: fit-content;
    margin: 0 auto 40px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.image-preview {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
}

.quick-actions {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.action-card {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
