@font-face {
    font-family: 'Sf pro';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,body,#root, .signup-page, .signup-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Sf pro', Arial, Helvetica, sans-serif;
    background-color: #ced8eca1;
}

.signup-page {
    display: grid;
    grid-template-rows: 50px 1fr 100px;
}

.signup-content {
    /* height: 100%; */
    border-top: 1px solid #000000;
    /* display: flex; */
}

.signup-card {
    /* background-color: #ffffff;
    background-color: #ced8eca1; */
    background-color: #dfdfdf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    max-width: 400px;
    flex: 1 1 200px;
    border: 1px solid #000000;
    box-shadow: 5px 5px;
}

.signup-header {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.form-group {
    margin-bottom: 15px;
    @media (min-width:600px) {
        display: flex;
        justify-content: space-between;
        width: 300px;
        align-items: center;   
    }
}

button {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 4px;
    align-self: center;
    width: 200px;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #555555;
}

input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

.login-link-container {
    text-align: center;
    margin-top: 15px;
}