@font-face {
    font-family: 'Sf pro';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,body,#root, .upload-file-page, .upload-file-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Sf pro', Arial, Helvetica, sans-serif;
    background-color: #ced8eca1;
}

.upload-file-page {
    display: grid;
    grid-template-rows: 50px 1fr 100px;
}

.upload-file-content {
    /* height: 100%; */
    border-top: 1px solid #000000;
    /* display: flex; */
}

.upload-card {
    /* background-color: #ffffff;
    background-color: #ced8eca1; */
    background-color: #dfdfdf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* flex: 1 1 200px; */
    width: 200px;
    /* max-width: 400px; */
    /* flex: 1 1 200px; */
    border: 1px solid #000000;
    box-shadow: 5px 5px;

    @media (min-width: 768px) {
        width: 400px;
    }
}

.upload-header {
    text-align: center;
    margin-bottom: 20px;
}

.upload-title {
    margin: 0;
    color: #333333;
}

.upload-subtitle {
    margin: 5px 0 0 0;
    color: #666666;
}

.upload-zone {
    border: 2px dashed #aaaaaa;
    border-radius: 6px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.upload-text {
    margin: 0;
    color: #555555;
}

.upload-hint {
    margin-top: 10px;
    font-size: 12px;
    color: #999999;
}

.browse-button {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 4px;
    align-self: center;
    width: 100px;

    @media (min-width: 768px) {
        width: 200px;
    }
}

.file-input {
    display: none;
}

.selected-file-info {
    margin-top: 15px;
    font-size: 14px;
    color: #333333;
}

.file-info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.file-details {
    margin: 0;
    color: #555555;
}

.file-detail-content {
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

.file-name {
    margin: 0;
    font-weight: 600;
}

.file-size {
    margin: 0;
    color: #777777;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}